
  @font-face {

    font-family: 'Comfortaa';
    src: url('../static/Comfortaa.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Tomatoes';
    src: url('../static/Tomatoes.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;

  }

  @font-face {
    font-family: 'Amelaryas';
    src: url('../static/Amelaryas.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;

  }

